# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# CI/CD
.github

# Rust
**/target
**/*.rs.bk
Cargo.lock

# Node
**/node_modules
**/.next
**/out
**/.vercel

# Environment
.env
.env.*
!.env.example

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
.DS_Store
*.log
