
# frontend
/apps/frontend/node_modules
/apps/frontend/.next/
/apps/frontend/out/
/apps/frontend/build/
/apps/frontend/.vercel
/apps/frontend/*.tsbuildinfo
/apps/frontend/next-env.d.ts

# backend
/apps/backend/target/

# packages
/packages/sdk-rust/target/
/packages/test-utils/target/

# misc
.DS_Store
*.pem
.env